body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  padding: 20px;
  background-color: hsla(86, 45%, 54%);
  color: white;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.search-container {
  margin: 20px;
}

#search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filter-container {
  accent-color: green;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

.filter-container label {
  font-weight: bold;
  color: #ffffff;
}

.filter-container select,
#price-filter {
  padding: 5px;
}

#price-value {
  font-weight: bold;
  margin-left: 10px;
}

#donation-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  border: #76a780 5px solid;
  background-color: #d7efdc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  margin-top: 0;
  color: #1d4f27;
}

.card p {
  color: #555;
}

.card strong {
  color: #333;
}
