body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282626;
}

header {
  padding: 20px;
  background-color: hsl(86, 45%, 54%);
  color: white;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #000000;
}

.search-container {
  margin: 20px;
  border: 1px solid black;
}

#search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

.filter-container label {
  font-weight: bold;
  color: #333;
}

.filter-container select,
#price-filter {
  accent-color: #000000;
  padding: 5px;
}

#price-value {
  color: #000000;
  font-weight: bold;
  margin-left: 10px;
}

#donation-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  border: 5px solid;
  border-color: rgb(117, 203, 117);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  margin-top: 0;
  color: #32573c;
}

.card p {
  color: #646464;
}

.card strong {
  color: #333;
}
